@{
    var email = User?.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sales Inventory</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- DevExtreme CSS -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.2.5/css/dx.light.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-purple-gradient fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="fa-solid fa-boxes-stacked"></i> SALE MANAGEMENT
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fa fa-user"></i></i> @(email ?? "User")
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"><span><i class="fa-solid fa-wrench me-2"></i> Cài đặt</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" onclick="handleLogout();return false;"><span><i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Đăng xuất</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="position: fixed; top: 56px; bottom: 0; overflow-y: auto; padding-top: 20px; border-right: 1px solid #ddd;">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">

                        <li class="nav-item mb-2">
                            <a class="nav-link d-flex justify-content-between align-items-center @IsActive(AppRoutes.Home)" href="@AppRoutes.Home">
                                <span><i class="fa-solid fa-home me-2"></i> Trang chủ</span>
                            </a>
                            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#menuCatalog" role="button" aria-expanded="false">
                                <span><i class="fa-solid fa-layer-group me-2"></i> Quản lý SP</span>
                                <i class="fa-solid fa-chevron-up" style="font-size: 0.7rem;"></i>
                            </a>
                            <div class="collapse show" id="menuCatalog">
                                <ul class="list-unstyled ms-3 border-start border-2 ps-2">
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Products)" href="@AppRoutes.Products">
                                            Sản phẩm
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Color)" href="@AppRoutes.Color">
                                            Màu sắc
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Size)" href="@AppRoutes.Size">
                                            Kích thước
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Category) " href="@AppRoutes.Category">
                                            Danh mục
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Brand)" href="@AppRoutes.Brand">
                                            Thương hiệu
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item mb-2">
                            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#menuInventory" role="button" aria-expanded="false">
                                <span><i class="fa-solid fa-warehouse me-2"></i> Quản lý kho</span>
                                <i class="fa-solid fa-chevron-down" style="font-size: 0.7rem;"></i>
                            </a>
                            <div class="collapse" id="menuInventory">
                                <ul class="list-unstyled ms-3 border-start border-2 ps-2">
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Supplier)" href="@AppRoutes.Supplier">
                                            Nhà cung cấp
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.StockIn)" href="@AppRoutes.StockIn">
                                            Nhập kho
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item mb-2">
                            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#menuSales" role="button" aria-expanded="false">
                                <span><i class="fa-solid fa-cart-shopping me-2"></i> Bán hàng</span>
                                <i class="fa-solid fa-chevron-down" style="font-size: 0.7rem;"></i>
                            </a>
                            <div class="collapse" id="menuSales">
                                <ul class="list-unstyled ms-3 border-start border-2 ps-2">
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Pos)" href="@AppRoutes.Pos">
                                            POS
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Customer)" href="@AppRoutes.Customer">
                                            Khách hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Voucher)" href="@AppRoutes.Voucher">
                                            Khuyến mãi
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#menuSystem" role="button" aria-expanded="false">
                                <span><i class="fa-solid fa-toolbox me-2"></i> Hệ thống</span>
                                <i class="fa-solid fa-chevron-down" style="font-size: 0.7rem;"></i>
                            </a>
                            <div class="collapse" id="menuSystem">
                                <ul class="list-unstyled ms-3 border-start border-2 ps-2">
                                    <li>
                                        <a class="nav-link @IsActive(AppRoutes.Employee)"
                                           href="@AppRoutes.Employee">
                                            Nhân viên
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 60px;">
                @RenderBody()
            </main>
        </div>
    </div>
    @functions {
        string IsActive(string href)
        {
            var current = Context.Request.Path.Value?.ToLower() ?? "";
            href = href.ToLower();

            return current == href ? "active" : "";
        }
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- DevExtreme JS -->  
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/dx.all.js"></script>

    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/cldr.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/cldr/event.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/cldr/supplemental.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/globalize.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/globalize/message.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/globalize/number.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/globalize/currency.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.2.5/js/globalize/date.min.js"></script>

    <script src="~/js/site.js"></script>
    <script>
            
        // Logout
        function handleLogout() {
            $.ajax({
                url: '/auth/logout',
                type: 'POST',
                success: function () {
                    DevExpress.ui.notify("Đã đăng xuất!", "success", 1500);
                    setTimeout(() => window.location.href = '/auth/login', 1500);
                },
                error: function () {
                    window.location.href = '/auth/login';
                }
            });
        }



        // Xử lý icon menu collapse
        document.addEventListener("DOMContentLoaded", function () {
            const toggles = document.querySelectorAll('[data-bs-toggle="collapse"]');

            toggles.forEach(toggle => {
                const target = document.querySelector(toggle.getAttribute('href') || toggle.dataset.bsTarget);
                const icon = toggle.querySelector('i.fa-chevron-down, i.fa-chevron-up');

                target.addEventListener('shown.bs.collapse', () => {
                    if (icon) icon.classList.replace('fa-chevron-down', 'fa-chevron-up');
                });

                target.addEventListener('hidden.bs.collapse', () => {
                    if (icon) icon.classList.replace('fa-chevron-up', 'fa-chevron-down');
                });
            });
        });
        // Cấu hình toastr
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: "toast-top-right",
            timeOut: "3000"
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>